/* Write your code here. */
.result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff33;
  padding: 15px;
  border-radius: 15px;
}
